<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <title> Diabetes Prediction | Install Dance</title>
</head>
<body>
    <header>
        <img class="logo" src="assets/logo.png" alt="">
        
        <!-- Jumbotron -->
        <div class="jumbotron">
            <div class="text-center">
                <h1>Serving Your <br> Health Needs Is <br> Our Priority.</h1>
                <p>Have something great in mind? Feel free to contact us. <br>
                    I'll help you to make it happen.</p>
            </div>
            <div class="cta">
                <a href="#result" class="jumbotron-button">Let's Make Contact</a>
            </div>
            <div class="color-overlay"></div>
        </div>
        <!-- End Jombotron -->
    </header>

    <main>
        <div class="content">
            <div class="highlight-text">
                <h2>How Can We Help You?</h2>
                <h5>We care about your health !! <br>
                    With proper knowledge, you can prevent everything from getting worse. <br>
                    Starting From Now.
                </h5>
            </div>
            

            <article id="consult" class="card">
                <div class="wrapper">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label>Pregnancies</label>
                    </div>
                </div>
            </article>
            <article id="design" class="card">
                <div class="wrapper">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label>Glucose</label>
                    </div>
                </div>
            </article>
            <article id="develop" class="card">
                <div class="wrapper">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label>Blood Pressure</label>
                    </div>
                </div>
            </article>
            <article id="marketing" class="card">
                <div class="wrapper">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label>Skin Thickness</label>
                    </div>
                </div>
            </article>
            <article id="manage" class="card">
                <div class="wrapper">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label>Insulin</label>
                    </div>
                </div>
            </article>
            <article id="evolve" class="card">
                <div class="wrapper">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label>BMI</label>
                    </div>
                </div>
            </article>
            <article id="evolve" class="card">
                <div class="wrapper">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label>Diabetes Pedigree Function</label>
                    </div>
                </div>
            </article>
            <article id="evolve" class="card">
                <div class="wrapper">
                    <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label>Age</label>
                    </div>
                </div>
            </article>

            <div class="clear"></div>
        </div>

        <div class="predict">
            <!-- <a href="#" class="predict-btn">Predict</a> -->
            <button class="predict-btn">Predict</button>
        </div>

        <div id="result">
            <article id="manage" class="requirement">
                <h3>Input Information :</h3><br>
                    <li><b>Pregnancies</b> Number of Pregnancies of Woman (Written in <b>numbers</b>)</li><br>
                    <li><b>Glucose</b> Plasma glucose concentration a 2 hours in an oral glucose tolerance test (Written in <b>mg/dL</b>)</li><br>
                    <li><b>Blood Pressure</b> Diastolic blood pressure (Written in <b>mmHg</b>)</li><br>
                    <li><b>Skin Thickness</b> Triceps skin fold thickness (Written in <b>mm </b>)</li><br>
                    <li><b>Insulin</b> 2-Hour serum insulin (Written in <b>mu U/ml</b>)</li><br>
                    <li><b>BMI</b> Body Mass Index  (<b>weight in kg/(height in m)^2</b>)</li><br>
                    <li><b>Diabetes Pedigree Function</b> Diabetes Pedigree Function</li><br>
                    <li><b>Age</b> Number of Years (Written in <b>years</b>)</li><br>
            </article>
            <article id="manage" class="requirement">
                <h3>RESULT</h3>
                <p>Change-makers innovation or shared unit of analysis. Overcome injustice
                    outcomes strategize vibrant boots on the ground sustainable. Optimism,
                    effective altruism invest optimism corporate social.
                </p>
            </article>
        </div>
    </main>

    <footer>
        <p> &#169; 2022 Install Dance. All Right Reserved.</p>
    </footer>

    <script src="main.js"></script>
</body>
</html>